body {
  margin: 0;
  padding: 0;
}

.banner {
display: flex;
align-items: center;
flex-direction: column;
background-color: #BFE493;
text-align: center;
padding: 40px;
padding-top: 60px;
padding-bottom: 60px;

}

.knap {
  background-color: #C41F97;
  color: #F1F1F1;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.knap:hover {
  background-color: #C41F97A6;
}

.titel-alt {
  display: flex;
  flex-direction: column;
  flex: 0 0 1%
}

.titel {

}

.titel-lille {

}

.zoom img{
  width: 392px;
  height: auto;
  padding-top: 30px;
  flex: 1 0 0%;

}

.vores-system {
display: flex;
align-items: center;
flex-direction: column;
background-color: #F1F1F1;
text-align: center;
padding: 40px;
padding-top: 10px;
padding-bottom: 60px;
}

.system-titel {
  padding-bottom: 20px;
}

.hydroponi-slide {
  height: 441px;
  background-color: #BFE493;
}

.trustpilot {
  height: 169px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F1F1F1;
  text-align: center;
  padding: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.situationstegn1 {
  padding-right: 290px;
  padding-bottom: 0px;
}

.anmeldelse {
  padding-top: 0px;
  padding-bottom: 0px;
}

.situationstegn2 {
  padding-left: 280px;
}

.footer {
  height: 364px;
  background-color:#DAF3C5;
}
